/* RESPONSIVE TABLETTE (1024px) */

@media (max-width: 1024px) {

 /* TITRE + LOGO */   
  .site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1350px;
    margin: 0 auto;
    gap: 10px;
  }

  .header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .logo {
    width: 80px;
    height: auto;
  }

  .site-title {
    font-size: 65px;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    margin: 0; 
    color: #FFCC8C;
    font-family: 'Nova Cut', sans-serif;
    flex: 1;
  }

 /* MENU D'ACCUEIL */

   .main-nav {
    width: 100%;
    background-color: #FFCC8C;
    border-width: 4px 0px;
    border-style: solid;
    border-color: #FFF0DC;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
  }

  .nav-inner {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  
  .main-nav ul {
    gap: 40px; 
  }

  .main-nav .nav-btn {
    font-size: 22px; 
    padding: 8px 20px; 
    border-radius: 16px;
  } 

  /* Bannière d'accueil */
   .banniere {
    height: 450px; 
    padding-top: 0;
    margin-top: 40px;
  }

  .banniere-content {
    align-items: flex-end; 
    text-align: right;
  }

  .banniere-content h2 {
    font-size: 50px; 
    margin: 10px 25px;
  }

  .banniere-content p {
    font-size: 28px; 
    line-height: 35px;
    margin-left: 150px; 
    max-width: 90%;
    margin-right: 25px;
  }

  .btn-banniere {
    position: absolute;
    bottom: 25px;
    left: 40px; 
    font-size: 38px; 
    padding: 18px 35px;
    border-radius: 35px;
  }

  /* INTRO + MINI-BIO */

.intro-bio {
    padding: 0 30px;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .intro {
    width: 60%;
    height: auto;
    padding: 25px;
    gap: 10px;
  }

  .intro h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .intro p {
    font-size: 20px;
    line-height: 28px;
  }

  .intro-button {
    font-size: 28px;
    padding: 10px 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 16px;
  }

  .separator {
    width: 10px;
    height: 300px;
    background-color: #FFCC8C;
    margin: 0 15px;
  }

  .mini-bio {
   width: 330px; 
   height: 420px;
   flex-shrink: 0;
   background-size: cover;
   background-position: center;
}

  .mini-bio-header h3 {
    font-size: 30px;
  }

  .mini-bio p {
    font-size: 16px;
    line-height: 22px;
  }

  .bio-button {
    font-size: 26px;
    padding: 8px 18px;
  }

  /* ARTICLES RECENTS */

  .articles-recents {
  font-size: 35px; 
  margin-left: 30px; 
  margin-bottom: 20px;
  text-align: center;
}

.articles-wrapper {
  gap: 80px; 
  padding: 0 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.article {
  width: 42vw; 
  max-width: 420px; 
  height: 420px; 
  position: relative;
  flex-shrink: 0;
}

.article-text {
  height: 160px;
  padding: 10px;
  box-sizing: border-box;
}

.article-text h3 {
  font-size: 20px; 
}

.article-text p {
  font-size: 16px;
  line-height: 22px;
}

.article-button {
  font-size: 26px; 
  padding: 10px 20px;
  border-radius: 30px;
  bottom: 15px;
  right: 15px;
}

.article-image {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* FOOTER */

.site-footer {
  height: 323px; 
  flex-wrap: nowrap;
  padding: 0;
}

.footer-left {
  width: 360px; 
  height: 323px;
  position: relative;
}

.footer-logo {
  width: 293px;
  height: 293px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-copyright {
  font-size: 14px;
  right: 15px;
  bottom: 5px;
}

.footer-right {
  flex: 1;
  padding: 20px;
  margin-left: 0;
}

.footer-title,
.footer-mention,
.footer-credit {
  font-size: 16px;
  margin: 5px 0;
}

.footer-menu {
  font-size: 16px;
  margin-top: -145px;
  margin-left: -10px;
}

.footer-menu a {
  font-size: 16px;
}

.footer-socials img {
  width: 50px;
  height: 50px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 200px;
}

.footer-title {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-left: 200px;
}

.footer-mention {
  text-align: right;
  margin-right: 30px; 
  font-size: 14px; 
  margin-bottom: -2px;
 }
}