    /* =============================
   Media Query - Mobile 390px
   ============================= */

@media (max-width: 390px) {

  /* HEADER */

  .site-header {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .logo {
    width: 50px;
    margin-top: -40px;
  }

 .site-title {
    font-size: 28px; 
    margin: 0 0 20px 0;
    line-height: 1.3;
    text-align: center;
    color: #FFCC8C;
  }

  .titre-desktop {
    display: none;
  }

  .titre-mobile {
    display: inline-block;
  }
}

@media (max-width: 390px) {

  /* BOUTON BURGER */


  .burger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    background: none;
    cursor: pointer;
    margin-top: -15px;
    margin-left: 310px;
    z-index: 1001;
    background-color: #FFCC8C; /* Beige parchemin */
    border: 2px solid #FFF0DC; /* Brun cuir */
    border-radius: 8px;
    padding: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }

  .burger-line {
    width: 100%;
    height: 4px;
    background-color: #653800;
    border-radius: 2px;
    transition: all 0.3s ease;
  }



/* MENU BURGER */

.burger-menu {
  display: none;
  position: absolute;
  top: 90px;
  left: 45%;
  transform: translate(-50%, -20%) scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  width: 75%;
  max-width: 403px;
  padding: 20px 0;
  background-color: #FFCC8C;
  border: 4px solid #FFF0DC;
  border-radius: 10px;
  z-index: 999;
  opacity: 0;
}

.burger-container.active .burger-menu {
  display: block;
  opacity: 1;
  transform: translate(-50%, -20%) scale(1);
  pointer-events: auto;
}

.burger-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.burger-menu li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.burger-menu a {
  display: block;
  width: fit-content;
  max-width: 90%;
  padding: 8px 20px;
  background-color: #FFF0DC;
  color: #653800;
  font-family: 'Livvic-Black', sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* État actif */
.burger-container.active .burger-menu {
  display: block;
}
}

/* Cacher menu burger en dehors de 390px */
@media (min-width: 391px) {
  .burger-container {
    display: none;
  }
}

@media (max-width: 390px) {
  .main-nav {
    display: none;
  }
}

/* BANNIERE A PROPOS */

@media (max-width: 390px) {

 .banniere-articles {
  background: url("/assets/images/banniere_fantasy_motif_1440x300_dark.webp") no-repeat;
  background-size: cover;
  background-position: center;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
 }

@font-face {
    font-family: 'LondrinaSolid-Regular';
    src: url('../Fonts/LondrinaSolid-Regular.ttf');
}

.banniere-content-articles {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.banniere-content-articles h2 {
  font-size: 40px;
  font-family: 'LondrinaSolid-Regular';
  color: #FFCC8C;
  line-height: 50px;
  margin: 0;
  white-space: normal;
  text-align: center;
}
}

/* PAGE ABOUT */ /* AVATAR */

@media (max-width: 390px) {
  .about-section {
    width: 100%;
    min-height: auto;
    background-color: #653800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
  }

  .avatar-container {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ABOUT - TEXTE INTRO */

  .intro-text {
    max-width: 100%;
    color: #FFF0DC;
    font-family: 'Livvic-SemiBold', sans-serif;
    padding: 0;
    text-align: center;
  }

  .intro-quote {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    text-shadow: 2px 2px 4px #422500;
    text-align: center;
  }

  .police-speciale-intro {
    font-family: 'RohzaOne-Regular';
    font-size: 60px;
    font-weight: 500;
    color: #DA9845;
    font-style: normal;
  }

  .police-speciale-bonjour {
    font-family: 'Livvic-SemiBoldItalic';
    font-size: 28px;
    line-height: 1.2;
    color: #fff0dccd;
    font-weight: 400;
  }

  .police-speciale-intro-quoteend {
    font-family: 'RohzaOne-Regular';
    font-size: 60px;
    font-weight: 500;
    color: #DA9845;
    font-style: normal;
    text-align: right;
    margin-left: 250px;
    line-height: 0.8;
  }
}

/* TEXTE QUI SUIS-JE ? */

@media (max-width: 390px) {
  .about-qui-suis-je {
    width: 90%;
    margin: 60px auto 0 auto;
  }

  .about-qui-suis-je-title {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 20px;
    text-align: center;
    color: #DA9845;
    font-family: 'Livvic-Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .about-qui-suis-je-description {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 30px;
    text-align: center;
    color: #FFF0DC;
    font-family: 'Livvic-Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
  }


  .about-qui-suis-je-lines {
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 20px; 
  }

  .qui-suis-je-line {
    display: inline-block;
    width: 3px;
    height: 140px;
    background-color: #DA9845;
    transform: rotate(0deg);
  }

  .about-qui-suis-je-subtext {
    font-family: 'Livvic-Italic', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFCC8C;
    text-align: center;
    padding: 0 10px;
    flex-shrink: 0;
  }
}

/* TEXTE POURQUOI ? */

@media (max-width: 390px) {
  .why-section {
    max-width: 90%;
    margin: 60px auto 0 auto;
    text-align: center;
  }

  .why-title {
    font-family: 'Livvic-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #DA9845;
    margin-bottom: 20px;
  }

  .why-description {
    font-family: 'Livvic-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFF0DC;
    margin-bottom: 30px;
  }

  .why-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-left: -10px;
  }

  .why-item {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .arrow-line {
    width: 20px;
    height: 0;
    border: 4px solid #DA9845;
    transform: rotate(-90deg);
  }

  .why-item p {
    font-family: 'Livvic-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 240, 220, 0.8);
    margin: 0;
    text-align: left;
  }
}

/* TEXTE TROUVER ICI */

@media (max-width: 390px) {
  .find-section {
    max-width: 90%;
    margin: 60px auto;
    padding: 0 10px;
    text-align: center;
  }

  .find-title {
    font-family: 'Livvic-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #DA9845;
    margin-bottom: 30px;
  }

  .find-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-left: 0px;
  }

  .find-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .arrow-line {
    width: 20px;
    height: 0;
    border: 4px solid #DA9845;
    transform: rotate(-90deg);
  }

  .find-item p {
    font-family: 'Livvic-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: rgba(255, 240, 220, 0.8);
    margin: 0;
  }
}

/* TEXTE DERNIERES PAROLES */

@media (max-width: 390px) {
  .last-words-section {
    padding: 0px 20px;
    text-align: center;
    background-color: #653800;
    color: #FFCC8C;
  }

  .last-title {
    font-family: 'Livvic-Bold';
    font-size: 30px;
    font-weight: 700;
    color: #DA9845;
    margin-bottom: 20px;
  }

  .last-quote-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: nowrap;
    margin: 0 auto 20px auto;
    max-width: 100%;
  }

  .last-line {
    width: 60px;
    height: 0;
    border: 2px solid #DA9845;
    transform: rotate(90deg);
  }

  .last-quote {
    font-family: 'Livvic-Italic';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #FFCC8C;
    max-width: 220px;
  }

  .last-conclusion {
    font-family: 'Livvic-SemiBold';
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    max-width: 90%;
    margin: 0 auto;
    color: #FFCC8C;
  }
}

/* BOUTON FIN DE PAGE */

@media (max-width: 390px) {
  .about-button-wrapper {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .btn-retour-home {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50px;
    background-color: #FFCC8C;
    font-family: 'LondrinaSolid-Black';
    font-weight: 900;
    color: #653800;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #FFF0DC;
    transition: all 0.3s ease;
    text-align: center;
  }

  .btn-retour-home:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 10px #FFF0DC, 0 6px 10px rgba(0, 0, 0, 0.35);
  }
}

/* FOOTER */

@media (max-width: 390px) {

.footer-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 282px;
  background-color: transparent;
}

.footer-left-mobile {
  background-color: #422500;
  width: 60%;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-logo-mobile {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-top: 0;
  margin-bottom: 5px;
}

@font-face {
    font-family: 'Livvic-Regular';
    src: url('../Fonts/Livvic-Regular.ttf');
}
.footer-menu-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Livvic-Regular';
  font-size: 15px;
  color: #FFCC8C;
  gap: 6px;
  margin: 5px;
  flex-wrap: nowrap;
  text-align: center;
  white-space: nowrap;
}

.footer-menu-mobile a {
  text-decoration: none;
  color: #FFCC8C;
}

.footer-separator-mobile {
  font-weight: bold;
  color: #FFCC8C;
}

.footer-copyright-mobile {
  font-family: 'Livvic-LightItalic';
  font-size: 10px;
  color: #FFF0DC;
  text-align: center;
  margin-bottom: 5px;
}

.footer-right-mobile {
  background-color: rgba(255, 204, 140, 0.5);
  width: 50%;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-social-title-mobile {
  font-family: 'Livvic-LightItalic';
  font-size: 18px;
  color: #FFCC8C;
  text-align: center;
  margin-top: 5px;
  line-height: 18px;
}

.footer-socials-mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 21px 0;
}

.footer-socials-mobile img {
  width: 50px;
  height: 50px;
}

.footer-mention-mobile {
  font-family: 'Livvic-LightItalic';
  font-size: 10px;
  color: #FFCC8C;
  text-align: center;
  padding: 0 5px;
}

.site-footer { 
  display: none;
}
}

