.main-nav, .navbar {
  transition: all 0.3s ease-in-out;
}

@font-face {
  font-family: 'Nova Cut';
  src: url('../fonts/NovaCut.ttf') format('truetype');
}

/* GENERAL */
body {
  margin: 0;
  padding: 0;
  background-color: #653800;
}

/* HEADER */
.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 54px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1350px;
  margin: 0 auto;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  width: 100px;
  height: auto;
}

/* TITRE */
.site-title {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  margin: 0; 
  color: #FFCC8C;
  font-family: 'Nova Cut', sans-serif;
  flex: 1;
}

/* MENU D'ACCUEIL */
.main-nav {
  width: 100%;
  background-color: #FFCC8C;
  border-width: 4px 0px;
  border-style: solid;
  border-color: #FFF0DC;
  padding: 10px 85px 10px 85px;
  margin-top: 40px;
}
.nav-inner {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {  
  font-family: 'Livvic-Black';
  src: url('../fonts/Livvic-Black.ttf') format('truetype');
}

.main-nav .nav-btn {
  display: inline-block;
  padding: 10px 25px;
  background: #FFF0DC;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Livvic-Black', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #653800;
  text-decoration: none;
  transition: all 0.3s ease;
}

.main-nav .nav-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.35);
}

/* BANNIERE ARTICLES */
.banniere-articles {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  height: 300px; 
  background: url("../images/banniere_fantasy_motif_1440x300_dark.webp") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px;
}

@font-face {
    font-family: 'LondrinaSolid-Regular';
    src: url('../fonts/LondrinaSolid-Regular.ttf');
}

.banniere-content-articles h2 {
  margin-left: 80px;
  margin-right: 80px;
  font-family: 'LondrinaSolid-Regular';
  font-size: 128px;
  color: #FFCC8C;
}

/* ARTICLES */

.articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 194px;
  justify-content: center;
  max-width: 1350px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(0px 0px 0px 0px);
  white-space: nowrap;
  border: 0;
}

.article {
  position: relative; 
  width: 578px;
  height: 578px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(5px 5px 4px rgba(128, 128, 128, 0.55));
  margin-bottom: 0px;
}

.article-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.article-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 285px; 
  background: rgba(255, 240, 220, 0.8);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Livvic-BlackItalic';
  src: url('../fonts/Livvic-BlackItalic.ttf');
}

.article-text h3 {
  font-family: 'Livvic-BlackItalic', sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 30px;
  color: #653800;
  margin-bottom: 5px;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Livvic-Light';
  src: url('../fonts/Livvic-Light.ttf');
}

.article-text p {
  font-family: 'Livvic-Light', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: #653800;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'LondrinaSolid-Black';
  src: url('../fonts/LondrinaSolid-Black.ttf');
}

.article-button {
  position: absolute;
  bottom: 20px;
  right: 25px;
  background-color: #653800;
  color: #FFCC8C;
  font-family: 'LondrinaSolid-Black', sans-serif;
  font-size: 50px;
  font-weight: 900;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.article-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);
}

/* BOUTON FIN DE PAGE */

.explorer-button-container {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.explorer-button {
  font-family: 'LondrinaSolid-Regular', sans-serif;
  font-weight: 900;
  font-size: 35px;
  line-height: 35px;
  color: #653800;
  background-color: #FFCC8C;
  padding: 14px 40px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0px 4px 4px #FFF0DC, 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.explorer-button:hover {
transform: translateY(-5px);
box-shadow: 0 6px 10px #FFF0DC, 0 6px 10px rgba(0, 0, 0, 0.35);
}

/* PAR DÉFAUT : le menu burger est masqué */

.titre-mobile {
    display: none;
}

.footer-mobile {
    display: none;
}

/* FOOTER */

.site-footer {
  display: flex;
  justify-content: space-between;
  background-color: #422500;
  height: 323px;
  color: #FFCC8C;
  font-family: 'Livvic', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 100px;
}

.footer-left {
  width: 575px;
  height: 323px;
  background-color: #422500;
  position: relative;
}

.footer-logo {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-40%, -60%);
  width: 293px;
  height: 293px;
}

@font-face {
  font-family: 'Livvic-LightItalic';
  src: url('../fonts/Livvic-LightItalic.ttf');
}

.footer-copyright {
  position: absolute;
  right: 20px;
  bottom: -10px;
  font-family: 'Livvic-LightItalic';
  font-size: 20px;
  color: #FFF0DC;
  text-align: right;
}


.footer-right {
  flex: 1;
  background-color: rgba(255, 204, 140, 0.5);
  padding: 30px 20px;
  margin-left: -30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-social-title {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  color: #FFCC8C;
  text-align: right;
}

.footer-social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.footer-social-icons img {
  width: 40px;
  height: 40px;
}

.footer-menu {
  text-align: center;
  font-size: 20px;
  font-family: 'Livvic-Regular', sans-serif;
  display: flex;
  justify-content: flex-start; /* aligne à gauche */
  align-items: center;
  gap: 1px;
  margin-left: 30px; /* ajuste le centrage à gauche dans le bloc droit */
  margin-top: -120px;
}

.footer-menu a {
  color: #FFCC8C;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
}

.footer-separator {
  color: white;
  margin: 0 1px;
  font-size: 20px;
  font-weight: normal;
}

.footer-credit {
  text-align: right;
  font-family: 'Livvic', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  color: #FFCC8C;
}

@font-face {
  font-family: 'Livvic-LightItalic';
  src: url('../fonts/Livvic-LightItalic.ttf');
}

.footer-title {
  font-family: 'Livvic-LightItalic';
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
  color: #FFCC8C;
  text-align: center;
  margin-top: -10px;
  margin-left: 200px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 210px;
}

.footer-socials img {
  width: 65px;
  height: 65px;
}

.footer-mention {
  font-family: 'Livvic-LightItalic';
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #FFCC8C;
  margin-left: 200px;
  margin-bottom: -20px;
}

.burger-icon {
  display: none;
}

@font-face {
  font-family: 'Livvic-Bold';
  src: url('../fonts/Livvic-Bold.ttf');
}

/* Indicateur Lu pour les articles */
.lu-indicator {
  font-size: 14px;
  color: #422500;
  font-family: 'Livvic-Bold';
  background-color: #FFCC8C;
  padding: 3px 7px;
  border-radius: 12px;
  margin-top: 10px;
  display: inline-block;
}

/* Bouton Masquer les articles lus */
.article-filter-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 60px auto;
  margin-left: -800px;
}

.filter-button {
  padding: 15px 30px;
  background-color: #FFCC8C;
  color: #653800;
  font-family: 'LondrinaSolid-Regular', sans-serif;
  font-size: 20px;
  font-weight: 900;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #FFF0DC;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px #FFF0DC, 0 6px 10px rgba(0, 0, 0, 0.35);
}

/* Liste déroulante catégorie */

@font-face {
  font-family: 'Livvic-SemiBold';
  src: url('../fonts/Livvic-SemiBold.ttf');
}

.filtre-categorie {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Livvic-SemiBold';
  color: #FFF0DC;
  font-size: 24px;
}

@font-face {
  font-family: 'Livvic-Medium';
  src: url('../fonts/Livvic-Medium.ttf');
}

#categorie-select {
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 18px;
  font-family: 'Livvic-Medium';
  background-color: #FFCC8C;
  color: #653800;
  border: none;
}

#categorie-select option {
  font-family: 'Livvic-Medium', sans-serif;
  background-color: #FFF0DC;
  color: #653800;
}
